body{
    background-image: url(saber.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-size: 22px;
    font-family: sans-serif;
    width: 800px;
    margin: auto;
}
p{
    line-height: 1.5;
    text-align: justify;
    color:wheat;
    background-color: rgba(255, 238, 164, 0.157);
    vertical-align: baseline;
}

.esquerda{
    float: left;
    border: solid red;
    box-sizing: border-box;
}
.direita{
    float: right;
}

img{
    
}