h1{
    text-align: center;
    background-color: white;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

h2{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: rgb(13, 23, 51);
    border-width: 5px;
}
body{
    background-color: blue;
}
p{
    color: white;
}

.borda{
    border: solid  5px white;
    padding: 10px; 
    
}