#radius{
    background: orange;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    
    border-radius: 50px 100px / 100px 50px;
    box-shadow: 30px 0 10px -20px black, 10px 10px 0 red, -5px -5px 0 10px blue; 

    
    
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: -1px 1px 0px lightblue, 
    -2px 2px 0px red, 
    -3px 3px 0px rgb(19, 151, 70), 
    -4px 4px 0px rgb(205, 3, 145),
    -5px 5px 0px rgb(214, 201, 15);

}


html,body{
    height: 100%;
}

body{
    background-image: linear-gradient(to left bottom, rgba(255, 0, 0, 0.271),rgba(0, 0, 255, 0.214)),
    url(../00_IMAGENS/03windosxphill.jpg);
    background-size: cover;
}