*{
    margin: 0;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
}


.titulo_corpo {
    padding-left: 20mm;
}


.imagemcapa{
    max-width: 100%;

}

.ajustar {
    margin-bottom: 20px;
    position: absolute;
    display: inline-block;
    
}

.texto {
  position: absolute;
  background-color: rgba(72, 70, 203, 0.457);
  color: white;
  font-size: 32px;
  left: 300px;
  top: 83px;
}

.ajustar h1{
    text-align: center;
}

.margem-corpo {
    margin-left: 5mm;
    margin-right: 5mm;
}
.alinhar {
    transform: translateY(110%);
}

.espaco_lados{
    padding: 0px 70px 70px 70px;
    margin: 0px 5px 5px 5px;
    position: relative;
    

    
}

.pagina_corpo p {
    padding: 0mm 20mm 0mm 20mm;
    text-align: justify;
}

nav {
    box-shadow: 0px, 7px, 7px rgba(0, 0, 0, 0.2);
    background-color: rgb(89, 89, 255);
    text-align: center;
    padding: 10px;
    position: relative;
}

nav>a {
    color: white;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 20px;
    transition-duration: 0.5s;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(9, 22, 139);
}

footer {
    padding: 12px;
}

footer p {
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}