div{
    width: 300px;
    height: 300px;
    background-color: orange;
    transition-property: all /* width / heght */;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.7,-0.27,.52,1.34);
    /*transition-delay: 0s, 8s*/
    /* transition-timing-function: ease;  * ease-in / ease-in-out */
    /* https://cubic-bezier.com/#.17,.67,.83,.67 */
}

div:hover{
    width:700px;
    height: 700px;
}